@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

li, button, .isalink{
    font-weight: 400;
}

#navlinks {
    list-style: none;
}

#navlinks li{
    display: inline-block;
    padding: 0 10px;
}
#navlinks li .isalink{
    transition: all 0.3s ease 0s;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    background-color: white; /* Ajusta el fondo según tu diseño */
}


img{
    height: 55px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(150, 26, 26);
    color: white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    /* Añadiendo propiedades base */
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

button:hover {
    /* Efectos visuales adicionales */
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Efecto de onda al hacer hover */
button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: width 0.6s, height 0.6s, opacity 0.6s;
}

button:hover::after {
    width: 200px;
    height: 200px;
    opacity: 1;
}

.isalink {
    font-size: 18px;
    color: #000;
    text-decoration: none; /* Elimina el subrayado por defecto */
    position: relative;
}

.isalink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Ajusta la posición del subrayado */
    width: 100%;
    height: 2px; /* Grosor del subrayado */
    background-color: #000; /* Color del subrayado */
    transform: scaleX(0); /* Inicialmente el subrayado no es visible */
    transition: transform 0.3s ease; /* Transición suave */
}

/* Cuando el ratón pasa sobre el elemento, el subrayado aparece */
.isalink:hover::after {
    transform: scaleX(1); /* El subrayado se expande a su ancho completo */
}