.bannerinit {
  background: url('/images/bannerinit.jpg') center/cover no-repeat;
  height: 300px;
  position: relative;  
  box-shadow: none; 
  background-size: 100%;
}
.bannerinit-overlay {
  background: rgba(0, 0, 0, 0.25);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bannerinit-overlay h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}


.patologias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}

.descripcion {
  margin: 0 auto 2rem;
  
}

.patologias h2 {
  font-size: 2rem;
  margin-top: 20px;
  size: fit-content;
  align-self: center;
}

.descripcion img.higado-imagen {
  width: 400px;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

.opciones {
  display: grid;
  display: flex; /* 2 columnas fijas */
  justify-content: center;
  gap: 5rem; /* Espacio más reducido entre elementos */
  justify-items: center;
  margin: 2rem 2rem 2rem 2rem; /* Centrado */
}

.patologia {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  text-decoration: none; /* quitar subrayado */
  color: black;
}

.patologia:hover {
  transform: scale(1.05);
}

.patologia img {
  width: 250px;
  height: 250px;
  object-fit: contain; /* <- cambia de cover a contain */
  border-radius: 50%;
  padding: 10px; /* espacio dentro del círculo */
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  background-color: white; /* opcional, para mantener contraste */
}


.patologia p {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}
